.table{
    background-color: aliceblue;
    height: auto;
    width: 500px;
    align-items: center;
    margin-bottom: 200px;
}
.col{
    font-size: large;
}
.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .col th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .row td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .row td:first-child {
    border-left: none;
  }
  
  .row td:last-child {
    border-right: none;
  }
  